/* CSS untuk container utama */
.container {
  display: flex;
  width: 100%;
  min-height: 100vh; /* Menetapkan tinggi minimum container sesuai dengan tinggi viewport */
  font-family: 'Poppins', sans-serif;
}

/* CSS untuk sidebar */
.sidebar {
  flex-basis: 20%;
  background-color: #A3DCDD;
  padding: 20px;
  transition: flex-basis 0.3s ease;
  border-radius: 40px;
  border: 10px solid #FFF;
}

.sidebar.collapsed {
  flex-basis: 5%;
  overflow: hidden;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

.sidebar li {
  margin-bottom: 10px;
  padding: 2px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: #0F6A6B;
  padding: 15px;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #328182;
  color: #fff;
} 

/* CSS untuk logo */
.sidebar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar .logo img {
  max-width: 100%;
  max-height: 100%;
}

.logoutButton {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sidebar button {
  background-color: #328182;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar button:hover {
  background-color: #276a6c;
}

/* Sesuaikan tampilan teks di bagian tambahan */
.additionalSection {
  flex-basis: 30%;
  background-color: #A3DCDD;
  padding: 20px;
  border-left: 1px solid #328182;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav li {
  margin-right: 15px;
  list-style-type: none;
}

.notificationIcon {
  margin-top: 8px;
  font-size: 24px;
  color: #328182;
}

.profileImage {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.nav p {
  font-size: 14px;
  color: #0F6A6B;
}

.nav p:hover {
  background-color: #328182;
  color: #fff;
  padding: 6px;
  border-radius: 10px;
} 


/* CSS untuk konten */
.content {
  flex-basis: 70%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #328182;
}

.content h1 { 
  margin-top: 20px;
  margin-bottom: 15px;
}

.content h3 {
  font-size: 14px;
}

.containerMK {
  margin-top: 50px;
  background-color: #328182; 
  height: auto;
  padding: 20px 0;
  border-radius: 10px;
  /* display: flex;
  justify-content: space-between; */
}
.containerTitleMK {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-listMK {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  text-align: left;
  margin-left: 50px;
}

.kelolaMK {
  text-align: right;
  padding: 10px 20px;
  margin-right: 50px;
  background-color: #49BBBD;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.kelolaMK:hover {
  background-color: #60f9fc;
  color: black;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.containerNilai {
  margin-top: 50px;
  background-color: #328182; 
  height: auto;
  padding: 20px 0;
  border-radius: 10px;
  /* display: flex;
  justify-content: space-between; */
}
.containerTitleNilai {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-listNilai {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  text-align: left;
  margin-left: 50px;
}

.kelolaNilai {
  text-align: right;
  padding: 10px 20px;
  margin-right: 50px;
  background-color: #49BBBD;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.kelolaNilai:hover {
  background-color: #60f9fc;
  color: black;
}

/* CSS untuk diagram */
.content .diagram {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.containerFD {
  margin-top: 50px;
  background-color: #328182; 
  height: auto;
  padding: 20px 0;
  border-radius: 10px;
  /* display: flex;
  justify-content: space-between; */
}
.containerTitleFD {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-listFD {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 10px;
}

.kelolaFD:hover {
  background-color: #60f9fc;
  color: black;
}

.card-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}